
header{
	position: relative;
	width: 100%;
	height: 80px;
	border-bottom: 2px solid #ecf0f1;
	
}
/*the thiny line across the page*/
#blk{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 5px;
	background-color: #39d1b4;
}

/*the slide style*/
	
	@font-face{
	font-family: TitilliumLight;
	src:url('TitilliumLight.otf') format('opentype');
}
	body{
		font-family: TitilliumLight;
	}

	#blk2{
	position: absolute;
	top: 30px;
	color: #000;
	left: 10%;
	font-size: 30px;
	font-weight: bolder;
}

img{
	z-index: 0;
	height: 613px;
	width: 100%;
	opacity: 0.5;
}

.menu{
	position: absolute;
	top: 5px;
	left: 80%;	
	margin: 0;
	padding: 0;
}
/*giving the menu a font and border*/

.menu  > li {
	list-style: none;
	float: left;
	font-family: TitilliumLight;
	font-size: 20px;
	border-left: 1px solid #ecf0f1;
	border-right: 1px solid #ecf0f1;
	height: 75px;
}
/*this effects on the menu sub-links*/
.menu > li > a{
margin-top: 20px;
margin-bottom: 0px;
color: #000;
}
/*this has effect on the menu link's positioning*/
.menu  > li a:link{
	display: block;
	text-decoration: none;
	padding: 0.5em 2em;
	color: #111;
	
}
/*give the menu link a background color if the mouse moves on it*/
.menu li a:visited, .menu li a:hover{
	background-color: #ecf0f1;
}



	body{
		font-family: TitilliumLight;;
		font-weight: bold;
	}


	#slider{
		position: relative;
		overflow: hidden;
		margin: 20px auto 0 auto;

		border-radius: 4px;
	}
	#slider ul{
		position: relative;
		margin: 0;
		padding: 0;
		height: 200px;
		list-style: none;
	}
	#slider ul li{
		position: relative;
		display: block;
		float: left;
		margin: 0;

		padding: 10px 0 0 24px;
		width: 550px;
		height: 350px;
		background: #39d1b4;
		line-height: 30px;
		font-size: 22px;
	}

	 a.control_prev {

		padding: 10px 0 0 20px;
		width: 500px;
		height: 300px;
		background: #39d1b4;
		line-height: 30px
	}

	 a.control_prev{

		position: absolute;
		top: 40%;
		z-index: 999;
		display: inline;
		padding: 4% 3%;
		width: auto;
		height: auto;
		background: #39d1b4;
		color: #fff;
		text-decoration: none;
		font-size: 18px;
		font-weight: 600px;
		opacity: 0.8;
		cursor: pointer; 

	}


#exit{
	text-decoration: none;
	color: #fff;
}

#btnGetValue{
	background-color: #7f8c8d;
	border: none;
	height: 35px;
}

#last{
	color: #7f8c8d;
}

footer{
	position: absolute;
	top: 610px;
	bottom: 0;
	height: 70px;
	background-color: #ecf0f1;
	width: 100%;
}

#foot{
	position: absolute;
	left: 60%;
	top: 40px;
}

#foot ul{	
	
	margin: 0;
	padding: 0;
}

#foot ul li{
	list-style: none;
	display: inline;
}

#foot ul li+li{
	border-left: 2px solid #bdc3c7;
}

#foot ul li a{
	text-decoration: none;
	padding: 10px 0px 0px 0px;
	margin: 10px;
	font-family: TitilliumLight;
	font-weight: bold;
	font-size: 12;
	color: #7f8c8d;

}

#foot ul li a:hover{
	color:  #2c3e50;	
}

	a.control_prev:hover{
		opacity: 1;
	}
	/*a.control_next*/{
		right: 0;
		border-radius: 2px 0 0 2px;
	}

	a.control_prev{
		border-radius: 0 2px 2px 0;
	}

